Flask==2.2.5
gunicorn
plotly==5.24.1
pandas==2.2.3
numpy==2.2.1
requests
requests_cache
tqdm
Werkzeug==2.2.2
Flask-Caching
dash==2.18.2
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
celery==5.2.1
celery_once==3.0.1
python-ulid
python-dotenv
xmltodict
ete3
six
PyQt5
openpyxl
psims
scipy==1.15.0
tenacity