Flask
gunicorn
plotly
pandas
numpy
requests
requests_cache
tqdm
Werkzeug==2.2.2
Flask-Caching
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
celery==5.2.1
celery_once==3.0.1
python-ulid
python-dotenv
xmltodict
PyQt5
ete3
six