.page-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: white; /* Optional: to ensure there's a white background around the image */
}

.header-image {
    position: absolute;
    top: 10%; /* Adjust this value to move the image down */
    left: 50%;
    width: 30%; /* Adjust this percentage based on your image size */
    height: 150px; /* Maintain aspect ratio */
    transform: translateX(-50%); /* Center horizontally */
    z-index: 2;
    background-image: url('/assets/idbac_logo.png');
    background-size: contain; /* Adjust as needed */
    background-position: center;
    background-repeat: no-repeat; /* Prevent repeating of the image */
}

.content {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    top: 20%; /* Adjust vertical position if needed */
    max-width: 1200px;
    box-sizing: border-box; /* Ensure padding and border are included in width/height calculations */
}
