.page-container {
    position: relative;
    height: 100vh;
    overflow: visible;
    background-color: white;
}

.header-image {
    position: relative;
    display: flex;
    flex-shrink: 0;
    left: 50%;
    width: auto;
    height: 175px;
    transform: translateX(-50%);
    background-image: url('/assets/idbac_logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.subheader-image {
    position: relative;
    display: flex;
    flex-shrink: 0;
    left: 50%;
    width: auto;
    height: 500px;
    transform: translateX(-50%);
    background-image: url('/assets/header.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px; /* Add space below the image */
}

.subheader-image::after {
    content: 'Created with BioRender.com';
    position: absolute;
    bottom: -20px; /* Position the text directly below the image */
    right: 10px; /* Align the text to the bottom-right */
    color: rgb(100, 100, 100); /* Adjust color for visibility */
    font-size: 12px; /* Adjust font size */
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Background for readability */
    padding: 2px 5px; /* Optional: Add padding to the text */
    border-radius: 3px; /* Optional: Rounded corners */
    pointer-events: none; /* Ensure it doesn't interfere with interactions */
}

.body {
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 1600px;
    box-sizing: border-box;
}

.page-content {
    position: relative;
    display: flex;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 1600px;
    box-sizing: border-box;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.tagline {
    flex-shrink: 0;
    flex-grow: 1;
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button-fixed {
    height: 60px; /* Set a fixed height */
    display: flex;
    align-items: center; /* Vertically center the text */
    justify-content: center; /* Horizontally center the text */
    text-align: center; /* Ensure text stays centered */
    white-space: normal; /* Allow the text to wrap if necessary */
}

.button-grey {
    background-color: #3a3a3a;
    color: #ffffff;
    border: 1px solid #6f6f6f;
    border-radius: 1px;
}

.button-grey:hover {
    background-color: #5a5a5a;
    border-color: #8f8f8f;
}

.button-blue {
    background-color: #156082;
    color: #ffffff;
    border: 1px solid #6f6f6f;
    border-radius: 1px;
}

.button-blue:hover {
    background-color: #1a7ca1;
    border-color: #8f8f8f;
}

.grey-box {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 1px;
    border: 1px solid #6f6f6f;
    margin-top: 5px;
    min-height: 190px;
}

.button-container {
    width: auto;
    max-width: 100%; 
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: auto;
    flex-shrink: 0;
    justify-content: space-evenly;
    margin-top: 20px;
}
