.page-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: white; /* Optional: to ensure there's a white background around the image */
}

.header-image {
    position: absolute;
    top: 5%; /* Lower the image vertically */
    left: 50%;
    width: 30%;
    height: 150px;
    transform: translateX(-50%);
    background-image: url('/assets/idbac_logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.9);
    padding: 40px 20px;
    border-radius: 10px;
    margin: 0 auto;
    top: 25%;
    max-width: 1200px;
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.button-fixed {
    height: 60px; /* Set a fixed height */
    display: flex;
    align-items: center; /* Vertically center the text */
    justify-content: center; /* Horizontally center the text */
    text-align: center; /* Ensure text stays centered */
    white-space: normal; /* Allow the text to wrap if necessary */
}
