.page-container {
    position: relative;
    height: 100vh;
    overflow: auto;
    background-color: white; /* Optional: to ensure there's a white background around the image */
}

.header-image {
    position: absolute;
    top: 5%; /* Lower the image vertically */
    left: 50%;
    width: 80%;
    height: 500px;
    transform: translateX(-50%);
    background-image: url('/assets/header.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.9);
    padding: 40px 20px;
    border-radius: 10px;
    margin: 0 auto;
    top: 45%;
    max-width: 1600px;
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.button-fixed {
    height: 60px; /* Set a fixed height */
    display: flex;
    align-items: center; /* Vertically center the text */
    justify-content: center; /* Horizontally center the text */
    text-align: center; /* Ensure text stays centered */
    white-space: normal; /* Allow the text to wrap if necessary */
}

.button-grey {
    background-color: #3a3a3a;
    color: #ffffff;
    border: 1px solid #6f6f6f;
    border-radius: 1px;
}

.button-grey:hover {
    background-color: #5a5a5a;
    border-color: #8f8f8f;
}

.button-blue {
    background-color: #156082;
    color: #ffffff;
    border: 1px solid #6f6f6f;
    border-radius: 1px;
}

.button-blue:hover {
    background-color: #1a7ca1;
    border-color: #8f8f8f;
}

.grey-box {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 1px;
    border: 1px solid #6f6f6f;
    margin-top: 5px;
    min-height: 150px;
}