nextflow.enable.dsl =2

cleanup=true

conda.enabled = true
conda.useMamba = false

outputDir = "./nf_output"
workflow.output.mode = 'copy'
nextflow.preview.output = true

profiles {

    docker {
        conda.cacheDir = "/app/workflows/idbac_summarize_database/envs"
        conda.enabled = true
        conda.useMamba = false
    }
}
// Conda path

report {
    enabled = true
    file = "IDBac_summarize_database_report.html"
    overwrite = true
}

executor {
    name = "local"
    cpus = 12
}

trace {
    enabled = true
    file = "trace.txt"
    overwrite = true
    fields = 'task_id,name,status,exit,realtime,%cpu,rss'
}