nextflow.enable.dsl =2

conda.enabled = true
conda.useMamba = true


outputDir = "./nf_output"
workflow.output.mode = 'copy'
nextflow.preview.output = true

profiles {

    docker {
        conda.cacheDir = "/app/workflows/idbac_summarize_database/envs"
        conda.enabled = true
        conda.useMamba = true
    }
}
// Conda path

report {
    enabled = true
    file = "IDBac_summarize_database_report.html"
    overwrite = true
}

executor {
    name = "local"
    cpus = 12
}